@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,600;1,400;1,500&family=Roboto:ital,wght@0,400;1,100&display=swap');
:root{
    /*--main-color:#e84242;*/
    --black-color:#000;
    border-color:0.1rem solid rgba(255,255,255,0.4);
    background-color: #e84242;
 }



*{
    font-family: "Poppins",sans-serif;
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;/**/
    transition: 0.2s ease;

}

/*! base html codes*/
html{
    font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 9rem;

}
html::-webkit-scrollbar{
    width: 0.8rem;
    background-color: aliceblue;
}
html::-webkit-scrollbar-track{
    background-color: transparent;
}
html::-webkit-scrollbar-thumb{
    border-radius: 3rem;
    background-color: black;
}
body{
    background-color: var(background-color rgb(24, 169, 19));
    /*height: 200vh;*/
}
section{
    padding: 3.5rem 7%;

}
a{
    color: #000;
    text-decoration: none;

}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 3.75rem;
    border-radius: 30rem;
    font-size: 1.7rem;
    color: #ccc;
    background-color: var(--black-color);
    cursor: pointer;

}
.btn:hover{
    opacity: 0.7;
}
.heading{
    color: #ccc;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 3.5rem;
    border-bottom: 0.1rem solid #ccc;

}
.heading span {
    text-transform: uppercase;
    color: black;


}
.search-input{
    font-size: 1.6rem;
    color: var(--black-color);
    padding: 1rem;
    text-transform: none;
    border-radius: 3rem;

}
/* header section start */
/*.header.search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background-color: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    border-radius: 3rem;
    box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.75);
    transform:scaleY(0);
}
.header.search-form.active{
    transform: scaleY(1);

}
.header.search-form i{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black-color);

}
.header.search-form input{
    width: 100%;

}
*/
.header .logo img{
    height: 10rem;
}
.header   {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 2rem 7%;
    border-radius: 30rem;
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
    position: sticky;
    top: 0;
    z-index: 1000;

}
.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color:var(--black-color);
    border-bottom: 0.1rem solid transparent;


}
.header .navbar .active,
.header .navbar  a:hover
{
    border-color:var(rgb(68, 255, 0));
    padding-bottom: 0.5rem;
}
.header .buttons button
{
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    background: transparent;
}
/* home start */
.home
{
    min-height: 100vh;
    background: url(../imagesPage/images/home.jpg)
    no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -14.5rem;
    display: flex;
    align-items: center;
}
.home .content
{
    max-width: 60rem;
}
.home .content h3 
{
    font-size: 6rem;
    color: aliceblue;
}
.home .content p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
    color:#ccc;
}
/* home end */
/*header section end*/


/* menu start */
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem ,1fr));
    gap: 1.5rem;
}

.menu .box-container .box{
    padding: 3rem;
    background-color: #ccc;
    border-radius: 3rem;
    background-color: #ccc;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}




.menu .box-container .box img{

width: 100%;
object-fit: cover;
}

.menu .box-container .box .menu-category{
    font-size: 1.2rem;
    text-transform: uppercase;
}
.menu.box-container .box h3{
    font-size: 3rem;
}
.menu .box-container .box .price{
    font-size: 2.5rem;
    padding: 0.5 rem 0;
}
.menu .box-container .box .price span{
     font-size: 1.5rem;
     text-decoration: line-through;
     font-weight: 300;

}
/* menu end */

/* product start */
.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap:1.5rem;
}
.products .box-container .box{
    text-align: center;
    background-color: #ccc;
    position: relative;
    border-radius: 3rem;
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
}
.products .box-container .box .box-head .title{
  font-size: 1.4rem;
}
.products .box-container .box .box-head .name{
   font-size: 4rem;
   font-weight: bold;
   text-align: start;
   overflow-wrap: anywhere;
}
.products .box-container .dark-bg .box-head .name,
.products .box-container .dark-bg .box-head .title{
    color: #ac1c1c;

}

.products .box-container .dark-bg img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: unset;
    
}
.products .box-container img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    object-fit: cover;
    transform: translate(-50%,-50%);
    border-radius: 3rem;

    
}
.products .box-container .dark.bg img{
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    transform: unset;

}
.products .box-container .box-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}
.products .box-container .box-bottom .info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.products .box-container .box-bottom .info .price{
    font-size: 3rem;
}
.products .box-container .box-bottom .info .amount{
    font-size: 1.4rem;
}
.products .box-container .dark-bg .box-bottom .info .price,
.products .box-container .dark-bg .box-bottom .info .amount{
    font-size: 1.4rem;
    color: aliceblue;
}
.products .box-container .box-bottom .product-btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 6.5rem;
    height: 6.5rem;
    border: 0.2rem solid var (var(--black-color));
    
    
}
.products .box-container .box-bottom .product-btn a i{
    font-size:1.6rem ;
    color:var(--black-color);
}



/* product end */
/* about start*/
.about .row{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
}
 
.about .row .image{
    flex: 1 1 45rem;

}
.about .row img{
    width: 100%;

}
.about .row .content{
    flex: 1 1 45rem;
}
.about .row .content h3{
    font-size: 3rem;
    color: #ffffff;
}
.about .row .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}

/* about end */
/* review start */
.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;

}
.review .box-container .box{
    border: var(--border);
    text-align: center;
    padding  : 3rem 2rem;
    background-color: #ccc;
    border-radius: 3rem;
}
.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding: 2rem 0;

}
.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: rgb(177, 40, 40);

}
.review .box-container .box .stars i{
    font-size: 1.5rem;
    color: rgb(201, 173, 14);

}
/* review end */
/* contact start*/
.contact .row{
    display: flex;
    background-color: var(--black-color);
    flex-wrap: wrap;
    gap: 1rem;
}
.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}
.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem ;
    text-align: center;
}
.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #ffffff;
}
.contact .row form div .inputBox{
    display: flex;
    align-items: center;
    margin: 2rem 0;
    border: var(--border);
   
}
.contact .row form .inputBox i{
    color: #ffffff;
    font-size: 2rem;
    padding-left:2rem ;
}
.contact .row form .inputBox input{
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color:#ffffff;
    text-transform: none;
    background-color:#ccc;
}
.contact .row form .btn{
    color: #7b2525;
    background-color: #ffffff;
    font-weight: bold;
}
/* contact end */
/* blogs start */

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;

}
.blogs .box-container .box{
    background-color: #ffffff;
    border-radius:3rem ;
}
.blogs .box-container .box .image{
    height: 25rem;
    overflow: hidden;
    width: 100%;
    border-top-left-radius:3rem ;
    border-top-right-radius:3rem ;

}
.blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;

}

.blogs .box-container .box:hover .image img{
    transform: scale(1.2);

}
.blogs .box-container .box .content{
    padding: 2rem;
}
.blogs .box-container .box .content .title{
    line-height: 1.5;
    
    font-size: 2.5rem;
}
.blogs .box-container .box .content span{
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}
.blogs .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 1rem 0;
}





/* blogs end */
/* footer start */
.footer{
    background-color: var(--black-color);
    text-align: center;
}
.footer .search{
    display: flex;
    justify-content: center;
}
.footer .search .search-input{
    width: 30rem;
}

.footer .search .btn-primary{
    background-color: #e84242;
    padding: 1rem 2rem;
    margin-left: 1rem;


}
.footer .share{
    padding: 2rem;
}
.footer .share a{
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    color: #ffffff;
    font-size: 2rem;
    border: var(--border); 
    border-radius: 50%;

}
.footer .share a:hover{
    background-color: #e84242;
}
.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap:wrap ;
    gap: 1rem;
   

}
.footer .links a{
    background-color: #e84242;
    padding: 0.7rem 2rem;
    color: #ffffff;
    font-size: 2rem;
    border: var(--border);

}
.footer .links a:hover{
    background-color: var(--black-color);
    opacity: 0.15;
}
.footer .links a.active{
    background-color: var(--black-color);
}
.footer .credit{
    font-size: 2rem;
    color: #ffffff;
    font-weight: 300;
    padding-top: 1.5rem;

}
.footer .credit span{
    color: #ac1c1c;
}

/* footer end */
/* responsive start */
/*
@media(max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    .header .logo img{
        height: 7rem;

    }
    section{
        padding: 2rem;
    }
    .products .box-container .box .box-head .name{
        font-size: 3.4rem;
    }
}
@media(max-width:768px){
    #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 95%;
        background-color: #fff;
        height: calc(100vh-9rem);
        width: 9rem;
        box-shadow: 0px 20px 14px 0px rgb(0 0 0 /75%);
        right: -100%
        }
    .header .navbar .active{
        right: 3rem;

        }
    .header .navbar a{
        color: var(--black-color);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;

    }





}*/
/* responsive end */

  










