@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,600;1,400;1,500&family=Roboto:ital,wght@0,400;1,100&display=swap');
:root{
    /*--main-color:#e84242;*/
    --black-color:#000;
    border-color:0.1rem solid rgba(255,255,255,0.4);
    background-color: #e84242;
 }



*{
    font-family: "Poppins",sans-serif;
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;/**/
    transition: 0.2s ease;

}

/*! base html codes*/
html{
    font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 9rem;

}
body{
    background-color: var(background-color rgb(24, 169, 19));
    height: 200vh;
}
/* header section start */
.header .logo img{
    height: 10rem;
}
.header   {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 2rem 7%;
    border-radius: 30rem;
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
    position: sticky;
    top: 0;
    z-index: 1000;

}
.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color:var(--black-color);
    border-bottom: 0.1rem solid transparent;


}
.header .navbar .active,
.header .navbar  a:hover{
    border-color:var(rgb(68, 255, 0));
    padding-bottom: 0.5rem;
    
    
    }




















/*header section end*/
















