@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,600;1,400;1,500&family=Roboto:ital,wght@0,400;1,100&display=swap');
:root{
    /*--main-color:#e84242;*/
    --black-color:#000;
    border-color:0.1rem solid rgba(255,255,255,0.4);
    background-color: #e84242;
 }



*{
    font-family: "Poppins",sans-serif;
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;/**/
    transition: 0.2s ease;

}

/*! base html codes*/
html{
    font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 9rem;

}
body{
    background-color: var(background-color rgb(24, 169, 19));
    height: 200vh;
}
section{
    padding: 3.5rem 7%;

}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 3.75rem;
    border-radius: 30rem;
    font-size: 1.7rem;
    color: #ccc;
    background-color: var(--black-color);
    cursor: pointer;

}
/* header section start */
.header .logo img{
    height: 10rem;
}
.header   {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 2rem 7%;
    border-radius: 30rem;
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
    position: sticky;
    top: 0;
    z-index: 1000;

}
.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color:var(--black-color);
    border-bottom: 0.1rem solid transparent;


}
.header .navbar .active,
.header .navbar  a:hover
{
    border-color:var(rgb(68, 255, 0));
    padding-bottom: 0.5rem;
}
.header .buttons button
{
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    background: transparent;
}
/* home start */
.home
{
    min-height: 100vh;
    background: url(../imagesPage/images/home.jpg)
    no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -14.5rem;
    display: flex;
    align-items: center;
}
.home .content
{
    max-width: 60rem;
}
.home .content h3 
{
    font-size: 6rem;
    color: aliceblue;
}
.home .content p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
    color:#ccc;
}
/* home end */
/*header section end*/


/* menu start */
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem ,1fr));
    gap: 1.5rem;
}
.menu .box-container .box{
    padding: 3rem;
    background-color: #ccc;
    border-radius: 3rem;
    background-color: #ccc;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}




.menu .box-container .box img{
    width: 100%;
    object-fit: cover;
}


/* menu end */













