*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    background-image: linear-gradient(#614725,#171517);
}
nav .logo p{
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: aliceblue;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}
nav ul{
    float: right;

}
nav li{
    display: inline-block;
    list-style:none;
}
nav li a{
    font-size:18px;
    text-transform: uppercase;
    padding: 0px 30px;
    color: white;
    text-decoration: none;

}
 
nav li a:hover{
    color:#bfbf21;
    transition: all 0.4s ease 0s;
}
.contect-items img{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    
    
}
/*
body{
    background-image: url("resim.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
*/