@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');



*{
    margin: 0;
    padding: 0;
}
.container{
    background:url(./resim.jpg);
    height: 100vh;
    background-size: 100% 100%;
}
.container .navbar{
    width: 100%;
    height: 100%;
    background: rgba(87, 88, 89, 0.4);
}

.navbar .logo{
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
}
.navbar .logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
    color: #f3f3f3;
}



.navbar ul{
    float: right;
    margin-right: 20px;

}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    line-height: 80px;

}
.navbar ul li a{
    color: azure;
    text-decoration: none;
    font-family: Roboto ;


}
.navbar ul li a.active,
.navbar ul li a:hover{
    background: #ff6e00;
    border-radius: 2px;

}